<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <h1>Add new message</h1>
    <form method="POST" action="/new">
      <label>Name: <input type="text" name="user" /></label>
      <br />
      <br />
      <label>Message: <input type="text" name="text" /></label>
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to message list</a>
  </body>
</html>
