<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message from <%= message.user %></h1>
    <p><%= message.text %></p>
    <p><small>Added on <%= message.added.toLocaleString() %></small></p>
    <a href="/">Back to message list</a>
  </body>
</html>
